.InfoForm{
    margin: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0px;
    width: 450px;
    padding-left: 0px;
    margin-left: 20px;

    .root{
        padding-top: 10px;
        padding-bottom: 10px;
        // display: flex;
    }

    .grid{
        flex-grow: 1;
    }
}

.modal{
    position: absolute;
    width: 50%;
    box-shadow: 5px;
    padding: 20px;
    background-color: white;
    top: 0%;
    left: 25%;
    text-align: center;
}